@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

header{
    height: 50px;
    margin-top: 40px;
}

.imglog{
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-left: 20px;
    padding: 10px;
}
.headerlogo{
    position: absolute;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    line-height: 0;

}
h3{
    font-family: 'Playball', cursive;
    font-size: 40px;
    margin: 0px;
    

}
p{
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 0px;
    margin-top: 25px;  
    color: gray;
    text-transform: uppercase;
}
nav{
    margin-top: 30px;
    display: inline;
    position: absolute;
    right: 10px;
    top:5%;
    transform: translateY(-20%);
    
}
  .div-repate{ 
    background-image: url("../img/hr-img.png");
    height: 10px;
    min-height: 10px; 
    margin-top: 35px;
}
.mainheading{
    position: absolute;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    line-height: 0;
}
.mainlogo{
    margin-top: 30px;
    display: inline;
    position: absolute;
    right: 10px;
    top:5%;
    transform: translateY(-20%);
    margin-left: 50px;
}
#mainheader{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
#mainpara{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    text-transform: uppercase;

}
#mainlogo{
    margin-top: 150px;
    display: inline;
    position: absolute;
    right: 10px;
    top:5%;
    transform: translateY(-20%);
    margin-right: 55px;
}
#mainlogopara{
    margin-top: 150px;
    display: inline;
    position: absolute;
    right: 10px;
    top:5%;
    transform: translateY(-20%);
    margin-right: 5px;
}
.image img{
        display: block;
        margin-left: 20px;
        margin-right: 5px;
        width: 98%;
        margin-top: 90px;
}
